*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Дизайн и верстка */
.design{
    width: 100%;
    padding: 57px 0 146px;
    background: #EEEFF1;
}
.design-header{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;   
}
.link-header{
    padding-top: 5px;  
}
.link-header a{
    text-decoration: none;
    margin-right: 42px;
    font-size: 16px;
    transition: 1s;
}
.link-header a:hover{
    color: blue;
}
.design-internal{
    width: 54%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}
.design-internal-left{
    width: 35%;
    margin: 30px 0;
}
.design-internal img{
    width: 100%;
}
.design-internal-right{
    width: 53%;
}
.design-title{
    font-size:48px ;
}
.design-descr{
    font-size: 16px;
    color: #727272;
    margin-top: 60px;
}
.design-btn{
    font-size: 16px;
    padding: 25px 41px;
    color: #EEEFF1;
    background: #34547A;
    margin-top: 60px;
    border-radius: 10px;
    transition: .5s;
}
.design-btn:hover{
    background-color: rgb(87, 236, 179);
    color: black;
    top: 2px;
    transform: skew(-20deg);
}

/* Обо мне */
.about{
    background: #F9F9F9;
    padding: 119px 0 100px 0 ;
}

.about-title{
    text-align: center;
    font-size: 32px;
}
.about-text{
    text-align: center;
    font-size: 16px;
    color: #727272;
    width: 28%;
    margin: 50px auto ;
}
/* Отчет */
.report{
    width: 100%;
    padding: 100px 0;
    background: #34547A;
}
.report-wrapper{
    width: 60%;
    margin: auto;
    display: flex;
}
.report-wrapper img{
    width: calc(20% - 50px);
    margin-right: 50px;
}
.report-wrapper img:last-child{
    margin-right: 0;
}
/* Мои навыки */
.skills{
    padding: 100px 0;
}
.skills-wrapper{
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.skills-info{
    width: 40%;
}
.skills-title{
    font-size: 32px;
    margin-bottom: 50px;
}
.skill{
    margin-bottom: 30px;
}
.skill-name{
    color: #727272;
    margin-bottom: 20px;
}
.skill-scale{
    height: 5px;
    background: #C4C4C4;
}
.skill-scale-internal{
    height: 5px;
    width: 80%;
    background: #34547A;
}
.skill-img{
    width: 50%;
}
/* как я работаю */
.process{
    padding: 100px 0;
    background: #EEEFF1;
}
.process-title{
    font-size: 32px;
    text-align: center;
}
.process-descr{
    text-align: center;
    color: #727272;
    width: 30%;
    margin: 50px auto 60px;
}
.process-video{
    display: block;
    width: 60%;
    aspect-ratio: 16/9;
    margin: auto;
}
/* Блок Projects */
.projects{
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
}
.projects-item{
    width: 25%;
    aspect-ratio:1/1;
    /* height: 50%; */
    background-size: cover;
}
.sticker{
    background-image: url(./img/sticker.png);
}
.laptop{
    background-image: url(./img/laptop.png);
}

.projects-item-hover{
    height: 100%;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
    opacity: 0;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-item-hover:hover{
    opacity: 1;
}

/* Блок Microsoft */
.microsoft{
    width: 100%;
    padding: 70px 0 100px;
}
.microsoft-wrapper{
    width: 60%;
    margin: auto;
    display: flex;

}
.microsoft-wrapper img {
    width: calc(25% - 30px);
    /* width: 25%;
    overflow: hidden; */
    margin-right: 30px;
    }
/* Блок ФОРМА */
.form{
    background: #EEEFF1;
    padding: 100px;
}
.form-title{
    font-size: 32px;
    text-align: center;
}
.form-descr{
    font-size: 16px;
    width: 30%;
    text-align: center;
    margin: 50px auto 65px;
}
form{
    width: 30%;
    margin: auto;
}
textarea{
    width: 100%;
}
.form-control{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
input{
    padding: 20px;
    border: none;
    outline: none;
}
